#mail-text{
	color: black;
	text-align: center;
	font-weight: bold;
}

.example-page-link{
	color: red;
}

.copyleft {
  font: 18px Arial, sans-serif;
  display: inline-block;
  transform: rotate(180deg);
}